*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: Quicksand, sans-serif;

}
html{scroll-behavior:smooth}
#navBar{
	font-size: 1.1rem;
}
svg{
	height: 3rem;
	padding: 2px;
}

@media only screen and (min-width: 800px) {
  section{
	height: 100vh;
}
}
