*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: Quicksand, sans-serif;

}
#landing{
	background-image: url('./images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
html{scroll-behavior:smooth}
#navBar{
	font-size: 1.1rem;
}
svg{
	height: 3rem;
	padding: 2px;
}

footer{
	border-top: 1px solid gray;
}

@media only screen and (min-width: 1200px) {
  section{
	height: 100vh;
}
}
